.col-md-6.col-md-offset-3.jumbotron{style: "text-align: center;"}
  %h2
    Editando tu Cuenta
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      %br
      = f.email_field :email, autofocus: true
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .field
      = f.label :username
      %br
      = f.text_field :username
    .field
      = f.label :password
      %i (Dejala en blanco si no quieres cambiarla)
      %br
      = f.password_field :password, autocomplete: "off"
      - if @minimum_password_length
        %br
        %em
          = @minimum_password_length
          characteres minimos
    .field
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation, autocomplete: "off"
    .field
      = f.label :current_password
      %i (Es necesaria solo si guardaras cambios)
      %br
      = f.password_field :current_password, autocomplete: "off"
    .actions
      = f.submit "Guardar Cambios"
  %h3 Darme De Baja
  %p
    No Estas Feliz? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
  = link_to "Back", :back
